body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('./../assets/commonBG3.jpg') center center no-repeat fixed;
  height: 50vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.selectedRestaurants{
  flex: 0 0 100%;
  display: flex;
  width:95%;
  align-content: center;
  justify-content: center;
  min-height: 60px;
  /* border: 1px solid black; */
}
.dropdown {
  background: transparent;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  width: 268px;
  outline: none;
}
.rest_name, .rest_phone, .rest_price, .rest_rating, .rest_reviewcount{
  display: flex;
  width: 20%;
  height: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  flex: 1 0 20%;
}


#map {
    height: 100%;
    width: 75%;
    left: 12.5%;
    top: 1%;
  }
  html, body {
    width:550px;
    height:550px;
    position: relative;
  }

  .pac-card {
    margin: 5px 5px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 2px;
    margin-right: 12px;
  }

  .pac-card {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-card .locationlabel {
    text-align: center;
    font-family: Roboto;
    font-size: 3px;
    font-weight: 200;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin: 12px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    width: 400px;
    border: #e0e0e0 1px solid;
  }

  #pac-input:focus {
    outline: none;
  }

  #label {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  div#pac-card.pac-card{
    z-index: 0;
    position: absolute;
    left: 105px;
    top: 30px;
  }

  #location-error {
    display: inline-block;
    padding: 6px;
    background: #e4a7a7;
    border: #d49c9c 1px solid;
    font-size: 1.3em;
    color: #333;
    display:none;
    margin: 12px;
  }
