body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('./../assets/commonBG4.jpg') center center no-repeat fixed;
  height: 50vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.housereviews-container{
  margin-top: 2rem;
}

.housereviewinput-container .neighborhoodInput-container {
  margin: 10px 0;
  width: 280px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.housereviewinput-container .submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #ed5f66;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.housereviewinput-container .submit-btn:hover {
  background: #ed5f66;
}

.housereviewinput-container .submit-btn:active {
  background: #ed5f66;
}

.neighborReviewOutput-container {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  margin-top: 10px;
}

.flex-container{
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-wrap: break-word;
  justify-content: space-around;
}

.neiReviews{
  flex: 0 0 100%;
  display: flex;
  width:100%;
  align-content: center;
  justify-content: center;
  min-height: 120px;
  /* border: 1px solid black; */
}
.user{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
}
.comment{
  display: flex;
  width: 34%;
  align-items: center;
  justify-content: space-around;
}
.date{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: space-around;
}
