body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('./../assets/commonBG4.jpg') center center no-repeat fixed;
  height: 50vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bestNeighborhoodsinput-container {
  margin-top: 2rem;
}

.bestNeighborhoodsinput-container .houseSearch-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.input-group-append .houseDetails-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.input-group-append .dropdown {
  background: transparent;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  width: 268px;
  outline: none;
}

.input-group-append .btn-outline-secondary {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #ed5f66;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.input-group-append .btn-outline-secondary:hover {
  background: #ed5f66;
}

.input-group-append .btn-outline-secondary:active {
  background: #ed5f66;
}

.flex-container{
  flex: 0 0 100%; 
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-wrap: break-word;
  justify-content: space-around;
}

.findNeighborhood{
  flex: 0 0 100%; 
  display: flex;
  width:100%;
  align-content: center;
  justify-content: center;
  min-height: 60px;
  /* border: 1px solid black; */
}
.neighborhood{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.borough{
  display: flex;
  width: 34%;
  align-items: center;
  justify-content: space-around;
}
.numberHouses{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: space-around;
}