body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('./../assets/NYC_Image1.jpg');
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: bottom right;
  background-size: cover;
}

.g-signin2{
  width: 165%;
}

.g-signin2 > div{
  margin: 0 auto;
}

.button {
  font-family: "Arial Black";
  background-color: Transparent;
  background-repeat:no-repeat;
  outline:none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transform: translateX(-50%);
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 600px;
  outline:none;
  height:  40px;
  line-height:  40px;
  border:  1px solid white;
  float:  none;
  width:  220px;

}
