<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foodie's Trip: Navigation</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/findRestaurants.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/findRestauranutsHelper.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">

  </head>

  <body ng-controller="findRestaurantsController">
    <div class="container housereviews-container">
      <div class="jumbotron">
        <div class="h5">Top 5 Restaurants</div>
        <br>
        <div class="housereviewinput-container">
          <div class="h6">Find top restaurants in a given area based on maximum price and zipcode</div>
          <select class="dropdown" ng-model="maxPrice" ng-options="x for x in priceRange">
           <option value="" disabled selected hidden>Select Maximum Price</option></select>
          <input type="text" ng-model="zipCode" placeholder="Enter Zipcode" id="targetRestaurant" class="neighborhoodInput-container"/>
          <button id="submitRestaurantBtn" class="submit-btn" name="submit" ng-click="submit()">Search</button>
        </div>

        <div class="neighborReviewOutput-container">
          <div class="flex-container">
            <div class="header"><strong>Name</strong></div>
            <div class="header"><strong>Phone</strong></div>
            <div class="header"><strong>Price</strong></div>
            <div class="header"><strong>Rating</strong></div>
            <div class="header"><strong>Review Count</strong></div>
          </div>
          <br>
          <div class="selectedRestaurants" id="targetRestaurants" ng-repeat="selectedRestaurant in selectedRestaurants">
            <div class="rest_name">{{selectedRestaurant.name}}</div>
            <div class="rest_phone">{{selectedRestaurant.phone}}</div>
            <div class="rest_price">{{selectedRestaurant.price}}</div>
            <div class="rest_rating">{{selectedRestaurant.rating}}</div>
            <div class="rest_reviewcount">{{selectedRestaurant.review_count}}</div>
          </div>
        </div>
      </div>
    </div>

<!-- Google Maps Search-->
    <div class="pac-card" id="pac-card">
      <div>
        <div class="locationlabel" id="label">
          Location search
        </div>
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a location"><div id="location-error"></div>
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="10" height="10" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>

    <script>
    function initMap() {
      var centerCoordinates = new google.maps.LatLng(37.6, -85.665);
        var map = new google.maps.Map(document.getElementById('map'), {
        center: centerCoordinates,
        zoom: 4
        });
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var infowindowContent = document.getElementById('infowindow-content');

        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);
        var infowindow = new google.maps.InfoWindow();
        infowindow.setContent(infowindowContent);

        var marker = new google.maps.Marker({
          map: map
        });

        autocomplete.addListener('place_changed', function() {
          document.getElementById("location-error").style.display = 'none';
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                document.getElementById("location-error").style.display = 'inline-block';
                document.getElementById("location-error").innerHTML = "Cannot Locate '" + input.value + "' on map";
                return;
            }

            map.fitBounds(place.geometry.viewport);
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            infowindowContent.children['place-icon'].src = place.icon;
            infowindowContent.children['place-name'].textContent = place.name;
            infowindowContent.children['place-address'].textContent = input.value;
            infowindow.open(map, marker);
        });
    }
    </script>


<!-- End of Google Maps Search-->



  <!-- back button-->
      <a href="/navigation">
        <div class="back-btn">Back</div>
      </a>


<!-- Google Maps API key-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8i5UG0UePdIrRjbern-G3XD6mnX977vM&libraries=places&callback=initMap"
    type="text/javascript"></script>


    <!-- Include these before the end of body tag in every HTML file -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>

    </html>
