<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foodie's Trip: Navigation</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/Navigation.css" rel="stylesheet">
  </head>

  <body>

  <!-- start of off-canvas navigation menu-->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Airbnb</a>
        <ul> <a href="/TopHouse" style="font-size:100%;">Best Neighborhood</a>
          <a href="/houseDetails" style="font-size:100%;">House Details</a>
          <a href="/housereviews" style="font-size:100%;">Interesting Reviews</a>
        </ul>
      <a href="#">Yelp Restaurants</a>
        <ul> <a href="/findRestaurants" style="font-size:100%;">Find Your restaurants</a>
            <a href="/popularCategories" style="font-size:100%;">Popular Business Categories</a>
             <a href="/yelpTrustedReviews" style="font-size:100%;">Trusted Reviews</a>
             <a href="/moreBusiness" style="font-size:100%;">Find More Businesses</a>
        </ul>
      <a href="/resources">Resources</a>
      <a href="/reference">Reference</a>

    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776; open</span>
    </div>

    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
  }
  </script>
<!-- end of off-canvas navigation menu-->



<!-- body of text-->
<div class="firstParagraph">
  <font size="7px">
  <p class="sansserif">Powered By:</p>
</font>
  <p style="margin-left:30px; margin-right:10px;">
    <font size="7px" >
        <p class="sansserif">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Airbnb</p>
        <p class="sansserif">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Yelp</p>
        <p class="sansserif">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Google Maps</p>
        <p class="sansserif">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;AWS</p>
    </p>
     </font>

</div>



<!-- end of body of text-->


<!-- weather widget start -->
<div class="realTimeWeather">
<a target="_blank" href="https://www.booked.net/weather/new-york-18103">
<img src="https://w.bookcdn.com/weather/picture/2_18103_0_1_009fa0_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=12012"  alt="booked.net"/></a>
</div>
<!-- weather widget end -->


<!-- Include these before the end of body tag in every HTML file -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
